<template>
  <a v-if="a">
    <aa v-if="aa">
      <aaa v-if="aaa">
        <aaaa v-if="aaaa"></aaaa>
        <aaab v-else-if="aaab"></aaab>
        <aaac v-else-if="aaac"></aaac>
        <aaad v-else></aaad>
      </aaa>
      <bb v-else>
        <bbb v-if="bbb">
          <bbba v-if="bbba"></bbba>
          <bbbb v-else-if="bbbb"></bbbb>
          <bbbc v-else-if="bbbc"></bbbc>
          <bbbd v-else></bbbd>
        </bbb>
      </bb>
    </aa>
    <ab v-else-if="ab"></ab>
    <ac v-else-if="ac"></ac>
    <ad v-else></ad>
  </a>
  <b v-else>
    <ba v-if="ba"></ba>
    <bb v-else-if="bb"></bb>
    <bc v-else-if="c"></bc>
    <bd v-else></bd>
  </b>
</template>
