<template>
  <div>
    <!-- #content -->
    <fd-popover visible>
      <template #content>
        <div>123</div>
      </template>
      <button>asd</button>
    </fd-popover>
    <!-- #content="a, b, c" -->
    <fd-popover>
      <template #content="a, b, c">
        <div>{{ a + b + c }}</div>
      </template>
      <button>asd</button>
    </fd-popover>
    <!-- #content="{ a, b, c }" -->
    <fd-popover>
      <template #content="{ a, b, c }">
        <div>{{ a + b + c }}</div>
      </template>
      <button>asd</button>
    </fd-popover>
    <!-- vue2 slot -->
    <fd-popover>
      <div slot="content">a</div>
      <button>asd</button>
    </fd-popover>
    <!-- vue2 slot-scope="a, b, c" -->
    <fd-popover>
      <div slot="content" slot-scope="a, b, c">{{ a + b + c }}</div>
      <button>asd</button>
    </fd-popover>
    <!-- vue2 slot-scope="{ a, b, c }" -->
    <fd-popover>
      <div slot="content" slot-scope="{ a, b, c }">{{ a + b + c }}</div>
      <button>asd</button>
    </fd-popover>
  </div>
</template>
